bin/
ToDoListWeb/ToDoListWeb/bin
ToDoListWeb/ToDoListWeb.Application/bin
ToDoListWeb/.vs/ToDoListWeb/v16/.suo
ToDoListWeb/ToDoList.Application/bin/Debug/netcoreapp3.1/ToDoList.Application.dll
ToDoListWeb/ToDoList.Application/bin/Debug/netcoreapp3.1/ToDoList.Application.pdb
ToDoListWeb/ToDoList.Application/obj/Debug/netcoreapp3.1/ToDoList.Application.csprojAssemblyReference.cache
ToDoListWeb/ToDoList.Application/obj/Debug/netcoreapp3.1/ToDoList.Application.dll
ToDoListWeb/ToDoList.Application/obj/Debug/netcoreapp3.1/ToDoList.Application.pdb
ToDoListWeb/ToDoList.Core/obj/Debug/netcoreapp3.1/ToDoList.Core.csprojAssemblyReference.cache
ToDoListWeb/ToDoList.Infrastructure/obj/Debug/netcoreapp3.1/ToDoList.Infrastructure.csprojAssemblyReference.cache
ToDoListWeb/.vs/ToDoListWeb/v16/.suo
ToDoListWeb/ToDoList.Application/bin/Debug/netcoreapp3.1/ToDoList.Application.dll
ToDoListWeb/ToDoList.Application/bin/Debug/netcoreapp3.1/ToDoList.Application.pdb
ToDoListWeb/ToDoList.Application/bin/Debug/netcoreapp3.1/ToDoList.Core.dll
ToDoListWeb/ToDoList.Application/bin/Debug/netcoreapp3.1/ToDoList.Core.pdb
ToDoListWeb/ToDoList.Application/bin/Debug/netcoreapp3.1/ToDoList.Infrastructure.dll
ToDoListWeb/ToDoList.Application/bin/Debug/netcoreapp3.1/ToDoList.Infrastructure.pdb
ToDoListWeb/ToDoList.Application/obj/Debug/netcoreapp3.1/ToDoList.Application.csprojAssemblyReference.cache
ToDoListWeb/ToDoList.Application/obj/Debug/netcoreapp3.1/ToDoList.Application.dll
ToDoListWeb/ToDoList.Application/obj/Debug/netcoreapp3.1/ToDoList.Application.pdb
ToDoListWeb/ToDoList.Core/bin/Debug/netcoreapp3.1/ToDoList.Core.dll
ToDoListWeb/ToDoList.Core/bin/Debug/netcoreapp3.1/ToDoList.Core.pdb
ToDoListWeb/ToDoList.Core/obj/Debug/netcoreapp3.1/ToDoList.Core.csproj.CoreCompileInputs.cache
ToDoListWeb/ToDoList.Core/obj/Debug/netcoreapp3.1/ToDoList.Core.csprojAssemblyReference.cache
ToDoListWeb/ToDoList.Core/obj/Debug/netcoreapp3.1/ToDoList.Core.dll
ToDoListWeb/ToDoList.Core/obj/Debug/netcoreapp3.1/ToDoList.Core.pdb
ToDoListWeb/ToDoList.Infrastructure/bin/Debug/netcoreapp3.1/ToDoList.Core.dll
ToDoListWeb/ToDoList.Infrastructure/bin/Debug/netcoreapp3.1/ToDoList.Core.pdb
ToDoListWeb/ToDoList.Infrastructure/bin/Debug/netcoreapp3.1/ToDoList.Infrastructure.dll
ToDoListWeb/ToDoList.Infrastructure/bin/Debug/netcoreapp3.1/ToDoList.Infrastructure.pdb
ToDoListWeb/ToDoList.Infrastructure/obj/Debug/netcoreapp3.1/ToDoList.Infrastructure.csprojAssemblyReference.cache
ToDoListWeb/ToDoList.Infrastructure/obj/Debug/netcoreapp3.1/ToDoList.Infrastructure.dll
ToDoListWeb/ToDoList.Infrastructure/obj/Debug/netcoreapp3.1/ToDoList.Infrastructure.pdb
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.deps.json
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.pdb
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.Views.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.Views.pdb
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoList.Web.dll
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoList.Web.pdb
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoList.Web.Views.dll
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoList.Web.Views.pdb
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoListWeb.assets.cache
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoListWeb.csproj.CoreCompileInputs.cache
ToDoListWeb/.vs/ToDoListWeb/DesignTimeBuild/.dtbcache.v2
ToDoListWeb/.vs/ToDoListWeb/v16/.suo
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.pdb
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.Views.dll
ToDoListWeb/ToDoListWeb/bin/Debug/netcoreapp3.1/ToDoList.Web.Views.pdb
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoList.Web.dll
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoList.Web.pdb
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoList.Web.Views.dll
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/ToDoList.Web.Views.pdb
ToDoListWeb/ToDoListWeb/appsettings.json
ToDoListWeb/ToDoListWeb/obj/Debug/netcoreapp3.1/Razor/Views/Shared/Error.cshtml.g.cs

### Angular ###
## Angular ##
# compiled output
dist/
tmp/
app/**/*.js
app/**/*.js.map

# dependencies
node_modules/
bower_components/

# IDEs and editors
.idea/

# misc
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log/
npm-debug.log
testem.log
typings/

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store/